table{
  width: 100%;
}

mat-icon.conn{
  padding: 10px;

  color: #439143;
}

mat-icon.disconnect{
  padding: 10px;

  color: red;
}

.disconnectedTable{
  color: red;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}
